# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# IDE and OS files
.idea/
.vscode/
.DS_Store
*.env

# Application Data (TRÈS IMPORTANT)
# On ne veut jamais copier les index dans l'image.
# Ils seront gérés par un volume persistant.
all_indexes/

# Docker
Dockerfile
.dockerignore

# kubernetes
k8s/secrets.yaml
pupetter_scraper/epfl_hierarchical_data
node_modules
