apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hierarchical-search-pvc
  namespace: openwebui-epfl
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 256Gi
